#alertBox {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 35%;
    border: 3px solid #73AD21;
    background-color: aliceblue;
    z-index: 2;
}

.hide{
    display: none;
}

.oscurecer{
    background-color: rgb(134, 134, 134);
    filter:brightness(0.4);
    
}

.tituloPagina {
    font-size: 1.5rem;
}


/* clases para validacion */

.formulario__P-error-hide {
    display: none;
}

.formulario__P-error-show {
    display: block;
    font-size: 0.9rem;
    color: #bb2929;
}

.formulario__grupo-incorrecto {
    color: #bb2929;
}

.formulario__input-incorrecto{
    border-color: #bb2929;
}

.formulario__input-incorrecto:focus{
    color: #212529;
    background-color: #fff;
    border-color: #b35252;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 49, 13, 0.25);
}

.formulario__P-errorEnvio-hide {
    display: none;
}

.formulario__P-errorEnvio-show {
    display: block;
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
}