
body{
    background: #e5e5e5;
}

html,
body,
#contenido
{
    height: 100%;
}

label {
    font-weight: 625;
}

h2 {
    font-weight: 500;
}



.tabla{
    background: white;
}

#listaSucursales {
    cursor: pointer;
}

.hide{
    display: none;
}

.oscurecer{
    background-color: rgb(134, 134, 134);
    filter:brightness(0.4);
    
}

.tituloPagina {
    font-size: 1.5rem;
}

/* Mensaje de Exito */

#alertBox {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 35%;
    background-color: aliceblue;
    z-index: 2;
}

#alertBox h4{
    background: #0d6efd;
    color: #fff;
    font-size: 1.3rem;
}

#alertBox i {
    color: #07c96e;
    font-size: 1.6rem;
  
}


/* Menu */

#menu ul li a{
    border-bottom: solid 1px #3b424d
}

#menu ul li a,
#menu ul
{
    background: #414956;
    color: #f0f0f0;
    font-size: 0.95rem;
}

#menu>ul>li.active>a,
#menu>ul>li:hover>a 
{
    color: #fff;
    background: #3b424d
}



/* clases para validacion */

.formulario__P-error-hide {
    display: none;
}

.formulario__P-error-show {
    display: block;
    font-size: 0.9rem;
    color: #bb2929;
}

.formulario__grupo-incorrecto {
    color: #bb2929;
}

.formulario__input-incorrecto{
    border-color: #bb2929;
}

.formulario__input-incorrecto:focus{
    color: #212529;
    background-color: #fff;
    border-color: #b35252;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 49, 13, 0.25);
}

.formulario__P-errorEnvio-hide {
    display: none;
}

.formulario__P-errorEnvio-show {
    display: block;
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
}